.app-header, a{
    display: flex;
    background-color: rgb(6, 86, 233);
    padding: 10px;
    justify-content: space-between;
    font: bold;
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
    font-weight:100;
    color:rgb(250, 226, 231);
    border-radius: 5px;
    
}
